body{
  margin: 0px;
}
.App1{
  
  height: 94vh;
  width: 94vw;
  
  padding: 3vh 3vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #111174;
  opacity: 0.8;
  background-image: radial-gradient(#19f02b 0.45px, #e5e5f7 0.45px);
  background-size: 9px 9px;
}

.action-tab{
  display: flex;
  justify-content: space-evenly;
}

.filters { 
  display: flex;
}

.action-btn{
  padding: 8px 12px;
   background: rgb(19, 207, 76);
  background: linear-gradient(16deg, rgb(21, 173, 211) 0%, rgb(197 0 255) 100%);;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.prize-display{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px
} 

.prize-card{
  width: 11%;
  padding: 1%;
  background: rgb(14, 223, 49);
  background: linear-gradient(160deg, rgb(24, 212, 49) 0%, rgba(222,23,23,0.79) 100%);
  margin-bottom: 8px;  
  border-radius: 29px;  
}

.prize-card-header{
  display: flex;
  justify-content: space-between;
}

.card-header-text{
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.App{
  height: 94vh;
  width: 94vw;
  text-align: center;
  padding: 3vh 3vw;
  overflow-x: hidden;
  overflow-y: auto;
}